/*============ Mobi payment logo===============*/
.navbar-brand.payment{ font-size: 14px; color: #3a3a3a; display: inline-block; vertical-align: bottom; line-height: 35px;   font-family: 'titillium_websemibold'; margin-left: 20px;} 
/*================ Thanks Block CSS : Start=========================*/
#thank-block .thanks-image img{ width: 108px; height: 84px; margin-top: 41px;}
#thank-block .thanks-txt{ font-size: 19px ;   color: #36c07c; font-family: 'titillium_webbold'; margin-top: 10px; font-weight: 600; }
#thank-block .thanks-para{  font-size: 16px; color: #424242; font-family: 'titillium_webregular'; margin-bottom: 23px; }
#thank-block .button {border: solid 1px #53c395;  border-radius: 16.4px; width: 187px; height: 32px; margin: 0px  0px 45px 0px; display: inline-block; vertical-align: middle;}
#thank-block .button a{ text-align: center; color: #545a58;  font-size: 12.8px; outline: none; text-decoration: none; line-height: 32px;  }
.ft-block{ margin-top: 0!important };
